.pages
  h1
    font-size: rem-calc(27)
    font-weight: bold
    color: $side-nav-link-color

  h1, .page
    padding: rem-calc(8) $main-padding

  .liquid-box, .liquid-measure
    width: 100% !important

  .page
    +clearfix
    +transition(all 0.2s ease)
    color: $side-nav-link-color


    .title
      color: inherit
      float: left
      width: 90%
      word-wrap: break-word

    .delete
      color: inherit
      float: right
      display: none

    &:hover
      .delete
        display: block

    &.active
      color: $side-nav-link-color-active
      background-color: $side-nav-link-color

.add-page
  padding: rem-calc(8) $main-padding

  form.inline
    input[type="submit"]
      padding: 0 !important
      font-family: FontAwesome
      font-size: rem-calc(20)
      color: green
