// framework variables
$include-open-sans: false
$row-width: 100%

$paragraph-font-family: inherit
$code-font-family: Courier New, Consolas, Liberation Mono, Courier, monospace
$code-font-weight: normal

$main-white: #e9eef2
$main-blue: #003f61
$side-nav-link-color: $main-white
$side-nav-link-color-active: black
$side-nav-link-color-hover: $side-nav-link-color

$fa-font-path: "/assets/fonts" !default
@import "vendor/font-awesome/scss/font-awesome.scss"

@import "vendor/foundation/scss/normalize.scss"
@import "vendor/foundation/scss/foundation.scss"
@import "vendor/bourbon/app/assets/stylesheets/_bourbon.scss"

// personal variables
$aside-width: 250px
$main-padding: rem-calc(15)

@import "structure"
@import "pages"
@import "page"

html, body
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

body
  margin: 0
  background-color: $main-white

body > .ember-view
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

main
  position: relative
  margin-left: $aside-width
  padding: $main-padding
  min-height: 100%

pre
  background-color: scale-color($secondary-color, $lightness: 70%)
  padding: rem-calc(16)

textarea
  box-shadow: none !important
  overflow: auto
  outline: 0 !important
  resize: none
  margin: 0
  border: 0

aside
  position: fixed
  width: $aside-width
  top: 0
  left: 0
  bottom: 0
  overflow-y: scroll
  background-color: $main-blue

nav
  .pages
    +side-nav
    padding-top: 0
    font-family: inherit
