$include-open-sans: false
$row-width: 100%

$paragraph-font-family: inherit
$code-font-family: Courier New, Consolas, Liberation Mono, Courier, monospace
$code-font-weight: normal

$fa-font-path: "/assets/fonts" !default
@import "vendor/font-awesome/scss/font-awesome.scss"

@import "vendor/foundation/scss/normalize.scss"
@import "vendor/foundation/scss/foundation.scss"
@import "vendor/bourbon/app/assets/stylesheets/_bourbon.scss"
@import "structure"
@import "pages"
@import "page"

$aside-width: 250px

*
  +transition(all 0.5s ease)

html, body
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

body
  margin: 0

body > .ember-view
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

main
  position: relative
  margin-left: $aside-width
  padding: rem-calc(15)
  min-height: 100%

pre
  background-color: scale-color($secondary-color, $lightness: 70%)
  padding: rem-calc(16)

textarea
  box-shadow: none
  overflow: auto
  outline: none
  resize: none
  margin: 0

ul
  list-style: none

aside
  box-shadow: 1px 1px 2px rgba(0,0,0,.3)
  position: fixed
  width: $aside-width
  top: 0
  left: 0
  bottom: 0
  overflow-y: scroll
  padding: rem-calc(15)

nav
  ul
    +side-nav
    font-family: inherit
